@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
	.content-auto {
		content-visibility: auto;
	}
} */

/* @layer components {
    .shadow-inset {
        box-shadow: inset calc(2rem * 0.33) calc(2rem * -0.25) 0;
    }
} */

/* h1 {
    @apply text-3xl font-bold text-center text-gray-800 dark:text-gray-100 mt-10
} */



p {
	font-size: medium;
	margin-bottom: 1rem;
}

ol {
	list-style-type: decimal;
	margin-left: 1.5rem;
}

ul:not(#nav) {
	list-style-type: disc;
	margin-left: 1.5rem;
}

li:not(.list) {
	margin-bottom: 1rem;
}

/* font-family: monospace !important; TODO: JETBRAINS*/
code {
	background-color: transparent !important;
	padding: 1px !important;
	font-size: 1rem !important;
	margin-top: 1rem;
}

span[class='line'] {
	margin-right: 20px;
}

pre {
	background-color: transparent !important;
	margin-top: -25px !important;
	padding-left: 40px;
	margin-bottom: -25px;
}

/* @layer components { */
a[title='link'] {
	@apply text-secondary transition-all after:bg-secondary;
	display: inline-block;
	font-weight: bold;
}

h2:not(.subtitle) {
	@apply text-2xl font-bold text-start mb-2 text-gray-800 dark:text-gray-100 mt-5;
}

h3 {
	@apply text-xl font-bold text-start mb-2 text-gray-800 dark:text-gray-100 mt-5;
}

img[title='imgMdx'] {
	@apply bg-gray-100 dark:bg-gray-800 rounded-md overflow-hidden mb-5 md:max-h-[22rem] w-[90%] sm:w-[40rem] mx-auto shadow-md dark:shadow-lg border border-secondary dark:border-gray-700
}

/* } */

a[title='link']::after {
	content: "";
	display: block;
	margin-top: -4px;
	height: .5px;
	width: 100%;
	transform: scaleX(0);
	transition: transform 0.3s;
	transform-origin: left;
}

a[title='link']:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

a[title='link']:focus::after {
	transform: scaleX(1);
	transform-origin: left;
}