---
import ResourceCard from "components/ResourceCard.astro";
import type { IFrontmatter } from "interfaces/IFrontmatter";
import Layout from "layouts/Layout.astro";
import { sortByDate } from "utils/sortByDate";

interface IResource extends IFrontmatter {
  categories: string[];
}

const data = await Astro.glob<IResource>("./_data/*.mdx");
const sortedResources = sortByDate(data);
const resources = sortedResources.map(resource => ({
  title: resource.frontmatter.title,
  image: resource.frontmatter.images[0],
  description: resource.frontmatter.shortDescription,
  date: resource.frontmatter.date,
  slug: resource.frontmatter.slug,
  categories: resource.frontmatter.categories || [],
}));
---

<Layout
  title={'Recursos de Programación'}
  description={'Aquí podrás encontrar unos recursos que me han sido de gran utilidad en el desarrollo web'}
  image={'https://res.cloudinary.com/jotaerre01/image/upload/v1679081386/Portfolio/skayyi1mudugo6yokofi.png'}
  keywords={'Recursos de programación, recursos de desarrollo web, recursos de desarrollo'}
  canonical={'https://jotaerre.dev/resources/'}
>
  <h1 class="text-3xl font-bold leading-[4rem] toogle-text text-center mb-4">
    Recursos de Programación
  </h1>

  {
    resources.map(resource => (
      <ResourceCard
        {...resource}
      />
    ))
  }
</Layout>
