---
import ResourceCard from "./ResourceCard.astro";


const data = [
  {
    title: "Resource 1",
    image: "https://wallpapercave.com/wp/wp4923991.png",
    technologies: ["React", "TypeScript", "TailwindCSS"],
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
  },
  {
    title: "Resource 1",
    image: "https://wallpapercave.com/wp/wp4923991.png",
    technologies: ["React", "TypeScript", "TailwindCSS"],
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
  },
  {
    title: "Resource 1",
    image: "https://wallpapercave.com/wp/wp4923991.png",
    technologies: ["React", "TypeScript", "TailwindCSS"],
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.",
  },
];

---
<section class='mt-12'>
  <div class='md:flex items-center mb-4'>
    <h2 class='subtitle font-bold text-3xl dark:text-white'>
      <span class='dark:text-primary-focus text-secondary'>Recursos </span>
      de Programación
    </h2>

    <div class='flex-grow' />

    <div>
      <a
        href='#'
        class='text-sm text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 transition-colors group'
      >
        Ver todos los recursos <span class='text-primary group-hover:text-primary-focus'>&rarr;</span>
      </a>
    </div>
  </div>
  <!-- <ProjectCard /> -->
  {
    data.map(resource => (
      <ResourceCard
        {...resource}
      />
    ))
  }
</section>
